<!DOCTYPE html>
<html lang="pt-BR">
<head>
{% include 'global/partials/head.html' %}
<title>{% block title %}{% endblock title %} | Recipes</title>
</head>

<body>
    {% include 'global/partials/header.html' %}
    {% include 'global/partials/search.html' %}
    <main class="main-content-container">
        {% block content %}{% endblock content %}
        {% include 'global/partials/pagination.html' %}
    </main>
    {% include 'global/partials/footer.html' %}
</body>
</html>

<!--
    Este é o meu HTML base, nele está sendo incluído as configurações de página, 
    o header, campo de busca e footer do projeto. Qualquer página que estende
    esta, recebe as configurações utilizadas aqui como padrão.
-->


<!--
    DIFERENÇA ENTRE INCLUDE E EXTENDS
Usamos o extends geralmente para manter o código html com uma estrutura básica.
Já o include, usamos quando temos trechos de código que queremos incluir em outras 
páginas, como um footer por exemplo. Apesar de semelhantes, observe que aplicamos 
em contextos diferentes: um geralmente para manter a estrutura básica do html, e 
o outro quando temos uma página html que queremos reaproveitar em outras páginas.
-->