{% extends 'global/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="main-content main-content-list container">
    {% for recipe in recipes %}
        {% include 'recipes/partials/recipe.html' %}
    {% endfor %}
</div>
{% endblock content %}

<!--
   Está é a página principal do meu site, onde está estendendo/herdando o arquivo HTML base
   do projeto e consequentemente recebendo configurações e elementos que estão definidos
   como padrão. Onde há excessão de conteúdo, ou seja, o conteúdo exclusivo desta página
   fica entre os blocks
-->