{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="main-content main-content-list container">
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
</div>
{% endblock content %}

<!--
   Está é a página principal do meu site, onde está estendendo/herdando o arquivo HTML base
   do projeto e consequentemente recebendo configurações e elementos que estão definidos
   como padrão. Onde há excessão de conteúdo, ou seja, o conteúdo exclusivo desta página
   fica entre os blocks
-->